# Build output
target/
bin/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Maven
dependency-reduced-pom.xml
pom.xml.asc

# Plugin runtime
*.jar
!target/*.jar

# Compiled class file
*.class

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Mobile Tools for Java
.mtj.tmp/

# VM crash logs
hs_err_pid*
replay_pid*
